* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

.cocktail-detail {
    background-color: #282828;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title__name {
        color: rgb(197, 184, 184);
        margin-top: 0.8rem;
    }

    & > img {
        width: 40vw;
        height: 40vw;
        padding: 0.3rem;
        border: 0.2rem solid #282828;
        border-radius: 2.5rem;
        margin: 3rem 0 0 0;
    }

    &__instructions {
        margin: 5rem 0 5rem 0;

        &__title {
            color: rgb(197, 184, 184);
            font-size: 30px;
            margin-bottom: 0.8rem;
        }
        &__description {
            color: rgb(146, 135, 135);
            padding: 0 80px;
        }
    }
}
