* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

.header {
    background-color: #282828;

    .header-h1 {
        display: none;
    }
    .header-images {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: -3rem;

        .header-img {
            height: 13rem;
            width: 13rem;

            // justify-content: flex-start;
        }

        .header-menu-icon {
            height: 3rem;
            width: 3rem;
            margin-right: 2rem;
            //En desktop, display none
            // justify-content: flex-end;
        }
    }
    .desktop-nav {
        display: none;

        .desktop-nav__menu {
            list-style-type: none;

            display: flex;
            justify-content: space-evenly;
            gap: 7rem;
            margin-right: 4rem;

            & > li {
                color: white;
            }
        }
    }
}

@media (min-width: 600px) {
    .header {
        height: 4rem;

        .desktop-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            .desktop-nav__menu {
                font-size: 20px;
                font-weight: bolder;

                & > li {
                    padding-right: 20px;
                }
            }
            .desktop-home:hover {
                color: #f36183;
                cursor: pointer;
                transform: translateY(1px);
            }
            .desktop-favourites:hover {
                color: #f36183;
                cursor: pointer;
                transform: translateY(1px);
            }
        }

        .header-images {
            .header-menu-icon {
                display: none;
            }
        }
    }
}
