* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

main {
    background-color: #282828;

    h3 {
        color: white;
        font-family: 'Overpass', sans-serif;
    }
    .cocktail-list {
        display: flex;
        flex-direction: column;
        width: 100vw;

        &__name {
            overflow: hidden;
            position: relative;
        }
        &__name img {
            width: 100%;
            padding: 0.5rem;
            border: 0.2rem solid #282828;
            border-radius: 2.5rem;
        }
        .cocktail-title__mobile {
            position: absolute;
            width: 100%;
            color: white;
            font-size: 20px;
            font-family: 'Overpass', sans-serif;
            font-weight: bolder;
            -webkit-text-stroke: 1px black;
            padding: 2rem;
            top: 25px;
        }
        .cocktail-title__desktop {
            display: none;
        }
    }

    .cocktails-navigation {
        display: none;
    }

    @media (min-width: 600px) {
        main {
            background-color: #282828;
            padding-top: 5rem;
        }
        .cocktail-list {
            display: grid;
            width: 100%;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: 30vw 30vw;
            grid-auto-rows: 0px;
            padding: 1.2rem;
            &__name {
                overflow: hidden;
            }
            .cocktail-title__desktop {
                display: contents;
                color: white;
                font-size: 20px;
            }
            .cocktail-title__desktop:hover {
                cursor: pointer;
                color: #f36183;
                transform: translateY(1px);
            }

            &__name img {
                width: 100%;
                border: 0.2rem solid #282828;
                border-radius: 2.5rem;
                padding: 0.5rem;
            }
            &__name img:hover {
                cursor: pointer;
                transition: 0.5s;
                opacity: 70%;
                transform: scale(1.02);
            }
            &__name img:active {
                cursor: pointer;
                transition: 0.5s;
            }
        }
        .cocktails-navigation {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 4rem;
            padding: 1rem;
            padding-bottom: 3rem;
            & button {
                padding: 2rem;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                background-color: #f45a7f;
                border: 0.2rem solid #282828;
                border-radius: 1rem;
            }
            & button:hover {
                cursor: pointer;
                transition: 0.5s;
                opacity: 70%;
                transform: scale(1.02);
                box-shadow: 0 2px #9e3a52;
                transform: translateY(4px);
            }
            &__next,
            &__previous {
                font-size: 1rem;
                font-weight: bolder;
            }
        }
        .cocktail-title__mobile {
            display: none;
        }
    }
}
